{% extends 'chatapp/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">CHAT WEB</h1>
    <div class="mt-10">
        <a href="/rooms/" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-lg text-2xl mr-6">
            Group Chat
        </a>
        <a href="/privatewindow/" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-lg text-2xl">
            Private Chat
        </a>
    </div>
</div>
{% endblock %}